* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #161513;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 750px;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

header {
  background-color: #222222;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 1000;
  opacity: 70%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.container .logo {
  width: 82px;
  height: 45px;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 2%;
  line-height: 100%;
  color: #ffffff;
  left: 314px;
}

header .container nav {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  header .container nav {
    justify-content: end;
  }
}

header .container nav ul {
  display: flex;
  left: 650px;
  gap: 71px;
}

@media (min-width: 768px) and (max-width: 991px) {
  header .container nav ul {
    display: flex;
    gap: 31px;
  }
}

@media (max-width: 768px) {
  header .container nav ul {
    display: none;
  }
}

.nav-tog {
  color: #ffffff;
  font-size: 20px;
}

.nav-tog:hover + ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #eee;
  text-align: center;
  width: 100%;
  transition: 0.3s;
  gap: 21px;
}

@media (min-width: 768px) {
  .nav-tog {
    display: none;
  }
}

header .container nav ul li a {
  font-family: "Plus Jakarta Sans", sans-serif;
  display: block;
  padding: 20px 30px;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  transition: 0.3s;
}

@media (max-width: 768px) {
  header .container nav ul li a {
    border-bottom: 1px solid #ccc;
    color: #161513;
  }

  .container .logo {
    font-size: 28px;
    margin-top: 10px;
  }
}

header .container nav ul li a:hover {
  color: black;
  background-color: #ffffffa1;
}

.my-cv .container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Poppins", sans-serif;
  gap: 50px;
}



.my-cv .container .my-imag {
 
  height: 223px;
  padding-top: 30px;
}

.my-cv .container .cv-title {

  height: 127px;
  color: #ffffff;
  font-size: 55px;
  font-weight: 800;
  line-height: 63.36px;
  text-align: center;
}

.my-cv .container .cv-title span {
  background: linear-gradient(137.59deg, #ff8660 9.86%, #8000ff 104.95%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.my-cv .container .my-cv-info p {

  height: 108px;
  color: #c5c5c5;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2%;
  text-align: center;
}

@media (max-width: 768px) {
  .my-cv .container .cv-title {
    font-size: 35px;
    line-height: 43.36px;
    text-align: center;
    height: 90px;
    margin: auto;
  }

  .my-cv .container .my-cv-info p {

    font-size: 15px;
    line-height: 1.5;
    text-align: center;
    height: 80px;
    margin: auto;
  }

 
}
@media (max-width: 668px) {
  .my-cv .container .cv-title {
    font-size: 25px;
    line-height: 33.36px;
    text-align: center;
    height: 70px;
    margin: auto;
  }

  .my-cv .container .my-cv-info p {
  
    font-size: 13px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 60px;
  }
  .my-cv .container .my-imag img {
    width: 70%;
    margin-left: 40px;
  }
  .my-cv .container .my-imag {
    width: 251px;
    height: 150px;
    padding-top: 30px;
  }
}

.my-cv .container .my-cv-info .call {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.my-cv .container .my-cv-info .call button {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ffffff;
  font-weight: 600;
  font-size: 18.38px;
  padding: 10px 20px;
  border-radius: 50px;
  margin: 9px;
  transition: 1.3s;
}

@media (max-width: 768px) {
  .my-cv .container .my-cv-info .call button {
    justify-content: center;
    width: 110px;
    height: 44px;
    font-size: 9.5px;

  }

}


.my-cv .container .my-experience-icon {
  display: flex;
  gap: 60px;
}

.my-cv .container .my-experience {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.my-cv .container .my-experience p {
  color: #c5c5c5;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 12%;
}

@media (max-width: 768px) {
  .my-cv .container .my-experience-icon {
    gap: 30px;
  }

  .my-cv .container .my-experience-icon img {
    width: 32px;
  }


  .my-cv .container .my-experience p {
    color: #c5c5c5;
    font-weight: 400;
    font-size: 17px;
  }
}

.boxx {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.boxx h2 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 800;
  font-size: 35px;
  line-height: 35.75px;
  text-transform: uppercase;
  background: linear-gradient(180deg, #ff8660 0%, #d5491d 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.project {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 25px;
}

.box-container {
  background-color: #2a2a2a;
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
  color: #ffffff;
  /* width: 272px; */
  height: 220px;
}

.box-container img {
  width: 272px;
}

.box-project {
  display: flex;
  justify-content: space-between;
  padding-right: 23px;
  padding-left: 23px;
  padding-top: 10px;
}

.box-project .box-title {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  line-height: 16px;
}

.box-project .box-title p {
  font-size: 9px;
  color: #c5c5c5;
}

.box-project .box-title h3 {
  font-size: 13px;
}

.box-project .ico img {
  width: 10px;
}

@media (max-width: 668px) {
  .project {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}

@media (max-width: 768px) {
  .boxx h2 {
    font-size: 25px;
  }
}

.experience-title {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(180deg, #5badff 0%, #1373d1 100%);
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.Experience-section {
  font-family: "Poppins", sans-serif;
  /* width: 720px; */
  height: 348;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

@media (min-width: 992px) {
  .Experience-section {
    width: 720px;
  }
}

.Experience-info {
  display: flex;
  margin-bottom: 4px;
}

.Experience-info h3 {
  font-weight: 700;
  font-size: 16px;
  margin-left: 16px;
  color: #ffffff;
}

.Experience-info img {
  width: 23px;
  margin-bottom: 8px;
}

.Experience-info p {
  color: #8491a0;
  font-weight: 400;
  font-size: 12px;
  margin-left: 290px;
}

.Experience-info .pr1 {
  margin-left: 354px;
}

.par {
  color: #8491a0;
  font-weight: 400;
  font-size: 12px;
}

@media (max-width: 768px) {
  .Experience-info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
  }

  .Experience-info p {
    margin: auto;
  }

  .pr1 {
    margin-left: auto !important;
  }
  .par {
    width: 600px;
    text-align: center;
    margin: auto !important;
  }
  .experience-title {
    font-size: 25;
  }
}

@media (max-width: 668px) {
  .par {
    width: 330px;
  }
}

footer {
  background: #191919;
  align-items: center;
  border-top: 5px solid #161513;
  padding-top: 70px;
  padding-bottom: 40px;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2%;
}

.section-footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section-footer .info-footer {
  display: flex;
  gap: 4px;
  font-weight: 600;

  font-size: 12px;
  color: #c5c5c5;
}

.section-footer p {
  font-weight: 300;
  font-size: 12px;
  color: #c5c5c5;

  
}

.section-footer h3 {
  font-weight: 700;
  color: #ffffff;
  font-size: 23px;

}

@media (max-width: 768px) {
  footer .container .section-footer {
    padding-right: 17px;
    margin-bottom: 20px;
    align-items: center;
    text-align: center;
  }
}

.footer-icon {
  display: flex;
  gap: 20px;
}
@media (min-width: 992px) {
  .section-footer {
    width: 720px;
    margin: auto;
  }
}
